<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lecoder.blog.dao.mapper.UserMapper">

    <sql id="userColumns">
        id,username,password,status,gmt_create,gmt_modified
    </sql>

	<resultMap type="com.lecoder.blog.po.BlogUser" id="userMap">
		<id column="id" property="id" javaType="int" jdbcType="BIGINT"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="status" property="status"/>
		<result column="gmt_create" property="gmtCreate"/>
		<result column="gmt_modified" property="gmtModified"/>
	</resultMap>
	
	<insert id="saveUser" parameterType="com.lecoder.blog.po.BlogUser" useGeneratedKeys="true" keyProperty="id">
		INSERT into blog_user (username,password,gmt_create) (
		SELECT #{username},#{password},now() FROM dual where NOT EXISTS (
		SELECT username from blog_user where username = #{username}))
	</insert>
	
	<select id="findUserByUsername" resultMap="userMap">
	   SELECT <include refid="userColumns"/> from blog_user where username = #{username}
	</select>
</mapper>