a{
    text-decoration: none;
}
.main {
    margin-top: 60px;
    clear: both;
}
.inputDiv{
    width:90%;
    height:50px;
    float: left;
    margin: 10px;
    line-height: 50px;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border: 1px solid #dedede;
}
.submitArticle{
    margin-top: 15px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height:40px;
    line-height:40px;
    color: white;
    background: #EA6F5A;
    float: right;
}
.personalType{
    min-height: 50px;
}
.tabName{
    height: 50px;
    line-height: 50px;
    width: 70px;
    float: left;
}
.personalType .inputType{
    width: 80%;
    min-height:40px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    float: left;
    text-align: left;
    border: 1px solid #dedede;
}

.inputType span{
    float: left;
    list-style: none;
    background: #EEEEEE;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 30px;
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
}
.inputType span a{
    padding-left: 8px;
}
.inputType input{
    border: 0;
    padding: 0 5px;
    height:25px;
}
.summary{
    min-height: 100px;
}
.summary textarea{
    width: 80%;
    height: 100px;
    margin: 5px;
    padding: 5px;
    float: left;
}
.modal-body{
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}
.myType{
    padding-left: 75px;
}
.myType span{
    float: left;
    list-style: none;
    background: #EEEEEE;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 30px;
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
}
.myType span a{
    padding-left: 8px;
}
.articleType{
    width: 100%;
    float: left;
}
.articleType .inputType{
    width: 80%;
    min-height:40px;
    margin: 5px;
    padding-top: 8px;
    float: left;
    text-align: left;
}
.inputType select{
    width: 100%;
    padding: 3px;
}
.moreArticle{
    width: 100%;
    float: left;
}
.moreArticle .inputMore{
    width: 80%;
    min-height:40px;
    margin: 5px;
    padding-top: 8px;
    float: left;
    text-align: left;
}
.moreArticle input{
    width: 100%;
    padding: 3px;
    border: 1px solid #dedede;
}

