<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lecoder.blog.dao.mapper.RoleMapper">

    <sql id="roleColumns">
        id,role,description,gmt_create,gmt_modified
    </sql>

	<resultMap type="com.lecoder.blog.po.BlogRole" id="roleMap">
		<id column="id" property="id" javaType="int" jdbcType="BIGINT"/>
		<result column="role" property="role"/>
		<result column="description" property="description"/>
		<result column="gmt_create" property="gmtCreate"/>
		<result column="gmt_modified" property="gmtModified"/>
	</resultMap>
	
	<select id="findRolesByUsername" resultMap="roleMap">
	   SELECT t1.id,t1.role,t1.description,t1.gmt_create,t1.gmt_modified FROM blog_user_role t2
		LEFT JOIN blog_role t1 ON t1.id = t2.role_id
		LEFT JOIN blog_user t3 ON t3.id = t2.user_id
		WHERE t3.username = #{username}
	</select>
	
</mapper>